
span.hosgeldiniz {
font-size: 40px; 
font-weight: bold; 
color: rgb(60, 210, 30);
margin-right: 250px;


}
ul li:first-child {
margin-right: 100px; /* Anasayfa ile "Hoş Geldiniz!" arasındaki boşluğu ayarlar */
}

ul{
    background-color: #161616;
    list-style-type: none;
    width: 100%;
    margin-bottom: 100px;
    
}

ul li{
    display: inline-block;
    width: 150px;
    padding: 5px;
    margin-right: 50px;
    margin-left: 50px;
    height: 100px;
    margin-top: 2px;
    
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    display: flex; /* Ana liste öğelerini yan yana hizalar */
    
    
    
}
ul li a:hover{
    color: rgb(60, 210, 30);
    transition: 0.5s;
}

i{
    padding-right: 10px;
    
}
.header-image-container {
    text-align: center; /* Add this line */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-images {
    display: flex; /* Add this line */
    justify-content: center;
}
.header-image {
    width: 600px;
    height: 400px;
    display: block;
    margin-right: 15px; /* Add this line */
    object-fit: cover;
    
}
.header-title {
    font-size: 30px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin-top: 10px; /* Add this line */
    width: 500px;
    display: block;
    text-align: center;
}
.header-p {
    font-size: 30px;
    font-weight: lighter;
    color: rgb(0, 0, 0);
    margin-top: 10px; /* Add this line */
    width: 500px;
    display: block;
    text-align: center;
    
}


button[type="submit"] {
    background-color: #4CAF50; /* Yeşil arkaplan */
    border: none; /* Kenarlık olmadan */
    color: white; /* Beyaz metin */
    padding: 15px 32px; /* Düğme boyutu */
    text-align: center; /* Metni ortala */
    text-decoration: none; /* Metin altını çizme */
    display: inline-block; /* Blok ögelerin yan yana gelmesini sağlar */
    font-size: 40px; /* Yazı tipi boyutu */
    margin: 4px 2px; /* Düğmeler arasında boşluk */
    cursor: pointer; /* Farenin üzerine gelince el işareti */
    border-radius: 12px; /* Köşeleri yuvarla */
}

/* Butona tıklanınca stilini değiştir */
button[type="submit"]:hover {
    background-color: #45a049; /* Koyu yeşil */
}



.icerik {
    
    padding-top: 1000px; 
    padding-bottom: 1000px;
}