<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anasayfa</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <ul>
        <li><span class="hosgeldiniz">Verimli Tarım Rehberi</span></li>
        <li><a href="/"><i class="fa-solid fa-house"></i>Anasayfa</a></li>
        <li><a href="/amac"><i class="fa-solid fa-address-card"></i>Hakkında</a></li>
        <li><a href="/bitki_iliski"><i class="fa-solid fa-wheat-awn"></i>Uyumluluk</a></li>
        <li><a href="/profil"><i class="fa-solid fa-cloud-showers-water"></i>Profil</a></li>
        <li><a href="/takvim"><i class="fa-regular fa-calendar-days"></i>Ekim Zamanı</a></li>
        {% if logged_in %}
        <li><a href="/cikis"><i class="fa-solid fa-sign-out-alt"></i>Çıkış</a></li>
        {% else %}
        <li><a href="/login"><i class="fa-solid fa-sign-in-alt"></i>Giriş Yap</a></li>
        {% endif %}
    </ul>
    <div>
        <h1>Ağustos Ayı Takvimi</h1>
        <h2>SEBZECİLİK</h2>
        <p>Sebzecilik: Domates, biber, patlıcan hasadı devam eder. Hasad bitince tarlalarda artıklar temizlenerek derin sürüm yapılır. Toprakaltı zararlıları, beyaz sinek, yaprak biti, kırmızı örümcek, sebzelerde yeşil kurt, külleme, bostanlarda antraknoz, yalancı mildiyösü gibi hastalık ve zararlıların mücadelesi yapılır.</p>

        <h2>MEYVECİLİK</h2>
        <p>Meyve bahçelerinde durgun göz aşısı yapılmaya başlanır.</p>
        <p>Geçci erik, şeftali, elma, armutların derimi yapılır. Meyveler ambalajlanıp pazara hazırlanır.</p>
        <p>Zeytin, bağ, sert ve yumuşak meyve türlerinde zararlı etmenler takip edilir.</p>
        <p>Sulama işleri devam eder.</p>

        <h2>HUBUBAT</h2>
        <p>I. Ürün Mısır: Erken ekilmiş olan mısırlar ayın ikinci yarısından itibaren hasat edilmeye başlanır.</p>
        <p>2. Ürün Mısır: Boğaz doldurma 2. veya 3. sulama ve gübreleme yapılır. Mısır kurdu ve koçan kurdu ve yeşil kurt mücadele edilir.</p>

        <h2>ÇAYIR-MERA VE YEM BİTKİLERİ</h2>
        <p>1. Ürün Silajlık mısır ve Sorgum Sudan otu hasadı yapılır.</p>

        <h2>TURUNÇGİL</h2>
        <p>Sulamaya devam edilir.</p>
        <p>Zararlı mücadelesine devam edilir.</p>
        <p>Gövdenin güneş zararından, kireç badanası tatbik ederek ya da kağıt sararak korunmasına devam edilir.</p>
        <p>Gövde ve dallardaki yosun ve liken oluşumlarına % 1'lik Bordo Bulamacı sürülür ya da püskürtülür.</p>
        <p>Kuru dal budamasına devam edilir.</p>
        <p>Minneola Tanjelolorda Alternaria hastalığı mücadelesi yapılır.</p>
    </div>
</body>
</html>
