<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anasayfa</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    
    <ul>
        <li><span class="hosgeldiniz">Verimli Tarım Rehberi</span></li>
        <li><a href="/"><i class="fa-solid fa-house"></i>Anasayfa</a></li>
        <li><a href="/amac"><i class="fa-solid fa-address-card"></i>Hakkında</a></li>
        <li><a href="/bitki_iliski"><i class="fa-solid fa-wheat-awn"></i>Uyumluluk</a></li>
        <li><a href="/profil"><i class="fa-solid fa-cloud-showers-water"></i>Profil</a></li>
        <li><a href="/takvim"><i class="fa-regular fa-calendar-days"></i>Ekim Zamanı</a></li>
        {% if logged_in %}
        <li><a href="/cikis"><i class="fa-solid fa-sign-out-alt"></i>Çıkış</a></li>
        {% else %}
        <li><a href="/login"><i class="fa-solid fa-sign-in-alt"></i>Giriş Yap</a></li>
        {% endif %}
    </ul>

    <div>
        <h1>Ocak Ayı Takvimi</h1>
        <h2>SEBZECİLİK</h2>
        <p>Patates: Bu ayın ilk yarısında dikim tamamlanır. Erken dikilen patateslerde üst gübre atılır ve boğaz doldurulur. Fırsat buldukça dikim yapılmamış tarlalarda toprak işleme yapılır.</p>
        <p>Sebzecilik: Kışlık sebzelerin (lahana, pırasa, karnıbahar, ıspanak, havuç) hasadına devam edilir.</p>
        <p>Seracılık: Fide yetiştiriciliği için sıcak yastıklara domates, biber, kabak, karpuz, hıyar, patlıcan tohumları ekilir. Örtü altı sebze yetiştiriciliği için alçak tünel yerleri gübrelenip (çiftlik ve taban gübresi) sürülerek hazırlanır. Ekimi yapılacak sebze tohumları ilaçlanır. Fide harç hazırlığı yapılırken toprak sterilizasyonu veya dezenfeksiyonu yapılır.</p>

        <h2>MEYVECİLİK</h2>
        <p>Toprak işleme, ekim- dikim yer hazırlığı yapılır.</p>
        <p>Fidan sökümü, hendekleme, dağıtımı yapılır.</p>
        <p>Tohum katlama hazırlığı yapılır.</p>
        <p>Kültürel işlemler ve gerekli olan bahçelerde kış mücadelesi yapılır.</p>

        <h2>HUBUBAT</h2>
        <p>Genel olarak tahıl ekimin erken yapıldığı bölgemizde Ocak ayının 2. yarısında üst gübreleme yapılır. Taban ve çukur alanlarda yağmur suyu birikiminden zarar gören yerlere su savuntu arkları açılmalıdır. Tarla faresi, yabani yulaf ve diğer yabancı otlarla mücadele yapılır.</p>

        <h2>ÇAYIR-MERA VE YEM BİTKİLERİ</h2>
        <p>Meralarda otlatma yasağı vardır.</p>

        <h2>TURUNÇGİL</h2>
        <p>Uçkurutan (mal secco), Turunçgil dal yanıklığı (pseudomonas syringae),  Antraknoz ve kahverengi meyve çürüklüğü (Phytophthora citrophthora)'ne karşı ilaçlama yapılır.</p>
        <p>Bahçede zararlı (unlu bit, kırmızı kabuklu bit, yıldız koşnili, pas böcüsü, uyuz, tomurcuk akan) tespit çalışmaları yapılır, gerekirse hasattan sonra ilaçlanır.</p>
        <p>Çiftlik gübresi, fosforlu ve potaslı gübrelerin uygulanması sürdürülebilir.</p>
        <p>Bahçede biriken yağmur sularının boşaltılması yapılır.</p>
        <p>Aşın meyve yükünden kırılabilecek dallara önceden verilmiş çatallar kontrol edilir, eksik olanlar tamamlanır.</p>
        <p>Meyve hasadına devam edilir.</p>
        <p>Herhangi bir nedenle dökülen meyvelerin toplanmasına devam edilir.</p>
        <p>Dona hassas çeşitlerin hasadı bitirilmelidir ve dondan korumak için ısıtma aygıtları bahçeye yerleştirilmeli veya sulama sistemleri gözden geçirilmelidir.</p>
        <p>Rüzgarkıran tesisi (dayanıklı selvi dikimi) yapılabilir.</p>
        <p>Budama ve kuru dal alma faaliyetlerine başlanması.</p>
    </div>
</body>
</html>
 
    

